.vs
Binaries
DerivedDataCache
Intermediate
Saved
Script
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Collections
Content/Developers
Content/LevelPrototyping
Content/StarterContent
Content/ThirdPerson
